
  * {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    background-color: #0e1427;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
  }


  .loader {
    background-color: #0e1427;
    position: fixed;
    display: block;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
  }
  .loader .lds-ripple {
    position: absolute;
    display: block;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader .lds-ripple div {
    position: absolute;
    border: 4px solid #ddc3e2;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loader .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  .loader.is-loaded {
    opacity: 0;
    visibility: hidden;
    z-index: -99;
  }

  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }


  aside.sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    display: block;
    width: 48px;
    height: 120%;
    height: 120vh;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  @media screen and (max-width: 1360px) {
    aside.sidebar {
      width: 100%;
      width: 100vw;
      height: 48px;
    }
  }
  aside.sidebar .logo {
    background-color: #057ef5;
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    top: 32px;
    left: 24px;
  }
  @media screen and (max-width: 1360px) {
    aside.sidebar .logo {
      top: 24px;
      left: 16px;
    }
  }
  aside.sidebar .logo a {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    color: #ddc3e2;
    text-decoration: none;
    outline: 0px none;
    outline: 0px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }


  header {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    display: block;
    width: 100%;
    width: calc(100% - 128px);
    max-width: 1232px;
    height: auto;
    overflow: visible;
    margin: 32px auto 0;
    z-index: 100;
  }
  @media screen and (max-width: 1360px) {
    header {
      width: calc(100% - 16px);
      margin: 96px 0 0;
    }
  }
  header .header-inner {
    padding: 0 16px;
  }
  header .header-inner h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ddc3e2;
  }


  section.grid-holder {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1360px;
    height: auto;
    overflow: visible;
    margin: 0 auto 32px;
  }
  section.grid-holder .grid-list-layout {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    display: block;
    width: 100%;
    width: calc(100% - 128px);
    max-width: 1232px;
    height: auto;
    overflow: hidden;
    margin: 4px auto 0;
    z-index: 100;
  }
  @media screen and (max-width: 1360px) {
    section.grid-holder .grid-list-layout {
      width: 100%;
      max-width: calc(100% - 8px);
      margin: 4px 0 32px;
    }
  }
  section.grid-holder .grid-list-layout nav {
    position: relative;
    display: block;
    width: 100%;
    max-width: calc(100% - 72px);
    height: 24px;
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
  }
  section.grid-holder .grid-list-layout nav li {
    position: relative;
    display: inline;
    margin-left: 16px;
  }
  section.grid-holder .grid-list-layout nav li a {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    font-size: 15px;
    color: #ddc3e2;
    text-decoration: none;
    line-height: 26px;
    transition: all 0.35s ease-in-out;
  }
  @media screen and (max-width: 768px) {
    section.grid-holder .grid-list-layout nav li a {
      font-size: 13px;
      clear: both;
    }
  }
  @media screen and (max-width: 360px) {
    section.grid-holder .grid-list-layout nav li a {
      font-size: 11px;
    }
  }
  section.grid-holder .grid-list-layout nav li a span {
    position: relative;
    z-index: 2;
  }
  section.grid-holder .grid-list-layout nav li a:hover {
    color: #057ef5;
  }
  section.grid-holder .grid-list-layout .grid-list-holder {
    position: relative;
    display: block;
    width: 100%;
    max-width: 72px;
    float: right;
    margin-right: -8px;
  }
  section.grid-holder .grid-list-layout .grid-list-holder span {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
  }
  section.grid-holder .grid-list-layout .grid-list-holder span.grid-layout svg {
    fill: rgba(255, 255, 255, 0.25);
    width: 24px;
    height: 24px;
    transition: all 0.35s ease-in-out;
  }
  section.grid-holder .grid-list-layout .grid-list-holder span.list-layout svg {
    fill: rgba(255, 255, 255, 0.25);
    width: 24px;
    height: 24px;
    transition: all 0.35s ease-in-out;
  }
  section.grid-holder .grid-list-layout .grid-list-holder span:hover svg {
    fill: rgba(255, 255, 255, 0.65);
  }
  section.grid-holder .grid-list-layout .grid-list-holder span.active {
    pointer-events: none;
  }
  section.grid-holder .grid-list-layout .grid-list-holder span.active svg {
    fill: #057ef5;
  }
  section.grid-holder .masonry {
    width: 100%;
    width: calc(100% - 128px);
    float: none;
    margin: 0 auto;
    overflow: hidden;
  }
  @media screen and (max-width: 1360px) {
    section.grid-holder .masonry {
      width: calc(100% - 16px);
      margin: 0;
    }
  }
  section.grid-holder .masonry .masonry__item {
    width: 33.3333%;
    height: 240px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    will-change: transform;
  }
  section.grid-holder .masonry .masonry__item figure {
    background-color: rgb(0 0 0 / 28%);
    position: relative;
    display: block;
    width: 100%;
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: hidden;
    border-radius: 4px;
    transition: box-shadow 0.35s ease-in-out, background-color 0.35s ease-in-out;
  }
  section.grid-holder .masonry .masonry__item figure figcaption {
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 2;
  }
  section.grid-holder .masonry .masonry__item figure figcaption h2 {
    width: 100%;
    max-width: 148px;
    color: #ddc3e2;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    float: left;
  }
  @media (max-width: 768px) {
    section.grid-holder .masonry .masonry__item figure figcaption h2 {
      font-size: 15px;
      line-height: 15px;
    }
  }
  section.grid-holder .masonry .masonry__item figure figcaption p {
    width: 100%;
    max-width: 148px;
    float: left;
    clear: left;
    color: #ddc3e2;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    opacity: 0.65;
  }
  @media (max-width: 768px) {
    section.grid-holder .masonry .masonry__item figure figcaption p {
      font-size: 9px;
      line-height: 9px;
    }
  }
  @media (max-width: 768px) {
    section.grid-holder .masonry .masonry__item figure figcaption p span {
      display: none;
    }
  }
  section.grid-holder .masonry .masonry__item figure figcaption ul.tags {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  @media screen and (max-width: 992px) {
    section.grid-holder .masonry .masonry__item figure figcaption ul.tags {
      width: 90px;
      margin-top: -6px;
    }
  }
  section.grid-holder .masonry .masonry__item figure figcaption ul.tags li {
    display: inline;
  }
  section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a {
    background-color: rgba(221, 195, 226, 0.05);
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 8px 16px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: #ddc3e2;
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    border-radius: 4px;
    text-align: center;
    display: none;
  }
  @media screen and (max-width: 992px) {
    section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a {
      display: none !important;
    }
  }
  section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a.active {
    display: inline-block !important;
  }
  @media screen and (max-width: 992px) {
    section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a.active {
      font-size: 11px;
      line-height: 15px;
      padding: 2px 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a.more {
    display: inline-block !important;
  }
  @media screen and (max-width: 992px) {
    section.grid-holder .masonry .masonry__item figure figcaption ul.tags li a.more {
      display: none !important;
    }
  }
  section.grid-holder .masonry .masonry__item:hover figure {
    background-color: rgb(0 0 0 / 64%);
    box-shadow: 0 15px 31px rgba(0, 0, 0, 0.24), 0 5px 31px rgba(0, 0, 0, 0.12);
  }
  section.grid-holder .masonry .masonry__item.active figure {
    background-color: rgba(221, 195, 226, 0.08) !important;
    box-shadow: 0 15px 31px rgba(0, 0, 0, 0.36), 0 5px 31px rgba(0, 0, 0, 0.24);
  }
